.dashboard {
    padding: 20px;
    background-color: #f7f7f7;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    margin-right: 10px;
    font-weight: bold;
}

#stateInput {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.chart-wrapper {
    width: 300px;  /* Adjust the width if needed */
    height: 300px; /* Adjust the height if needed */
    margin: 0 auto; /* Center the chart */
}
