svg path {
    cursor: pointer;
}

svg path:hover {
    fill: #f00;
}

svg {
    z-index: 1000;
    width:1000;
    margin-left: auto;
    
}

map {
    display: flex;
    justify-content: center;
    align-items: ;
}